@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');
h3{
	font-family: 'Mukta Malar', sans-serif;	
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: justify;
}
.carousel-inner{
	height: 300px;
}
span{
	font-family: 'Helvetica', sans-serif;
}
.content{
	line-height: 1.7em;
}